# Ignora file di sistema
.DS_Store
Thumbs.db

# PlatformIO (file temporanei pesanti)
.pio
.vscode/.browserslistrc
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/extensions.json
.vscode/ipch

# Arduino IDE (file temporanei)
__vm/
*.log